<div id="footerArea">
    <div>
        <input class="defalt-button" type="button" id="testTradesGetButton" value="test-get-trade" />
        <input class="defalt-button" type="button" id="testTradesChangeButton" value="test-change-trade" />
        <input class="defalt-button" type="button" id="testTradesCloseButton" value="test-close-trade" />
    </div>
    <div>
        <input class="defalt-button" type="button" id="testOrdersGetButton" value="test-get-order" />
        <input class="defalt-button" type="button" id="testOrdersGetAllButton" value="test-get-all-orders" />
        <input class="defalt-button" type="button" id="testOrdersChangeButton" value="test-change-order" />
        <input class="defalt-button" type="button" id="testOrdersDeleteButton" value="test-delete-order" />

        <input class="defalt-button" type="button" id="testOrdersBuyMarketButton" value="test-buy-market" />
    </div>
    <div>
        <input class="defalt-button" type="button" id="testPositionsGetButton" value="test-get-positions" />
        <input class="defalt-button" type="button" id="testPositionsDeleteButton" value="test-delete-positions" />
    </div>

    <input class="defalt-button" type="button" id="cancelAllButton" value="cancel all" />
    <input class="defalt-button" type="button" id="getOrdersButton" value="order list" />
    <input class="defalt-button" type="button" id="getTickingPriceButton" value="tick prices" />
</div>
