{% extends "zeroanda/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    {% block object-tools %}
      {% if has_add_permission %}
        <ul class="object-tools">
          {% block object-tools-items %}
            <li>
              {% url cl.opts|admin_urlname:'add' as add_url %}
              <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
              </a>
            </li>
          {% endblock %}
        </ul>
      {% endif %}
    {% endblock %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}

    <h1>schedule model</h1>
    {% if schedule_model != None %}
    <table>
      <tr>
        <th>title</th>
        <td>{{ schedule_model.title }}</td>
      </tr>
      <tr>
        <th>country</th>
        <td>{{ schedule_model.country }}</td>
      </tr>
      <tr>
        <th>priority</th>
        <td>{{ schedule_model.priority }}</td>
      </tr>
      <tr>
        <th>available</th>
        <td>{{ schedule_available }}</td>
      </tr>
      <tr>
        <th>status</th>
        <td>{{ schedule_status }}</td>
      </tr>
      <tr>
        <th>presentation time</th>
        <td>{{ schedule_model.presentation_time | date:"c" }}</td>
      </tr>
      <tr>
        <th>updated</th>
        <td>{{ schedule_model.updated | date:"c" }}</td>
      </tr>
    </table>
    {% endif %}
    <h1>trade model</h1>
    <table>
      <tr>
        <th>presentation_time</th>
        <td>{{ trade_model.presentation_time | date:"c" }}</td>
      </tr>
      <tr>
        <th>create time</th>
        <td>{{ trade_model.created | date:"c" }}</td>
      </tr>
    </table>
    <h1>transaction list</h1>
    <table>
      <tr>
        <th>transaction name</th>
        <th>created</th>
        <th>presentation_time</th>
        <th>excute time</th>
      </tr>

      {% for transaction in transaction_list %}
      <tr>
          <td>{{transaction.transaction_name}}</td>
          <td>{{transaction.created | date:"c" }}</td>
          <td>{{transaction.presentation_time | date:"c"}}</td>
          <td>{{transaction.excute_time | date:"c"}}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Price Model</h1>
      {% if price_model != None %}
      <table>
          <tr>
              <th>ask</th>
              <td>{{ price_model.ask}}</td>
          </tr>
          <tr>
              <th>bid</th>
              <td>{{ price_model.bid}}</td>
          </tr>
          <tr>
              <th>time</th>
              <td>{{ price_model.time | date:"c"}}</td>
          </tr>
          <tr>
              <th>created</th>
              <td>{{ price_model.created | date:"c"}}</td>
          </tr>
      </table>
      {% else %}
      <h2>none</h2>
      {% endif %}

      <h1>Actual Order Models</h1>
      {% if order_model_sell != None and order_model_buy != None %}
      <table>
          <tr>
              <th></th>
              <th>sell</th>
              <th>buy</th>
          </tr>
          <tr>
              <th>instruments</th>
              <td>{{ order_model_sell.instruments }}</td>
              <td>{{ order_model_buy.instruments }}</td>
          </tr>
          <tr>
              <th>units</th>
              <td>{{ order_model_sell.units }}</td>
              <td>{{ order_model_buy.units }}</td>
          </tr>
          <tr>
              <th>side</th>
              <td>{{ order_model_sell.side }}</td>
              <td>{{ order_model_buy.side }}</td>
          </tr>
          <tr>
              <th>expiry</th>
              <td>{{ order_model_sell.expiry | date:"c" }}</td>
              <td>{{ order_model_buy.expiry | date:"c" }}</td>
          </tr>
          <tr>
              <th>price</th>
              <td>{{ order_model_sell.price }}</td>
              <td>{{ order_model_buy.price }}</td>
          </tr>
          <tr>
              <th>upperBound</th>
              <td>{{ order_model_sell.upperBound }}</td>
              <td>{{ order_model_buy.upperBound }}</td>
          </tr>
          <tr>
              <th>lowerBound</th>
              <td>{{ order_model_sell.lowerBound }}</td>
              <td>{{ order_model_buy.lowerBound }}</td>
          </tr>
          <tr>
              <th>stopLoss</th>
              <td>{{ order_model_sell.stopLoss }}</td>
              <td>{{ order_model_buy.stopLoss }}</td>
          </tr>
          <tr>
              <th>takeProfit</th>
              <td>{{ order_model_sell.takeProfit }}</td>
              <td>{{ order_model_buy.takeProfit }}</td>
          </tr>
          <tr>
              <th>status</th>
              <td>{{ order_model_sell.status }}</td>
              <td>{{ order_model_buy.status }}</td>
          </tr>
          <tr>
              <th>error_code</th>
              <td>{{ order_model_sell.error_code }}</td>
              <td>{{ order_model_buy.error_code }}</td>
          </tr>
          <tr>
              <th>time</th>
              <td>{{ order_model_sell.time | date:"c" }}</td>
              <td>{{ order_model_buy.time | date:"c" }}</td>
          </tr>
          <tr>
              <th>created</th>
              <td>{{ order_model_sell.created | date:"c" }}</td>
              <td>{{ order_model_buy.created | date:"c" }}</td>
          </tr>
          <tr>
              <th>updated</th>
              <td>{{ order_model_sell.updated | date:"c" }}</td>
              <td>{{ order_model_buy.updated | date:"c" }}</td>
          </tr>
      </table>
      {% else %}
      <h2>none</h2>
      {% endif %}
  </div>
{% endblock %}
