{% extends "zeroanda/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    {% block object-tools %}
      {% if has_add_permission %}
        <ul class="object-tools">
          {% block object-tools-items %}
            <li>
              {% url cl.opts|admin_urlname:'add' as add_url %}
              <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
              </a>
            </li>
          {% endblock %}
        </ul>
      {% endif %}
    {% endblock %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}

    <h1>schedule model</h1>
    {% if schedule_model != None %}
    <table>
      <tr>
        <th>title</th>
        <td>{{ schedule_model.title }}</td>
      </tr>
      <tr>
        <th>country</th>
        <td>{{ schedule_model.country }}</td>
      </tr>
      <tr>
        <th>priority</th>
        <td>{{ schedule_model.priority }}</td>
      </tr>
      <tr>
        <th>available</th>
        <td>{{ schedule_available }}</td>
      </tr>
      <tr>
        <th>status</th>
        <td>{{ schedule_status }}</td>
      </tr>
      <tr>
        <th>presentation time</th>
        <td>{{ schedule_model.presentation_time | date:"c" }}</td>
      </tr>
      <tr>
        <th>updated</th>
        <td>{{ schedule_model.updated | date:"c" }}</td>
      </tr>
    </table>
    {% endif %}
    <h1>trade model</h1>
    <table>
      <tr>
        <th>presentation_time</th>
        <td>{{ trade_model.presentation_time | date:"c" }}</td>
      </tr>
      <tr>
        <th>create time</th>
        <td>{{ trade_model.created | date:"c" }}</td>
      </tr>
    </table>

    <h1>account</h1>
    <table>
      <tr>
        <th>account_id</th>
        <td>{{ account_model.account_id}}</td>
      </tr>
      <tr>
        <th>account_currency</th>
        <td>{{ account_model.account_currency}}</td>
      </tr>
      <tr>
        <th>account_name</th>
        <td>{{ account_model.account_name }}</td>
      </tr>

      <tr>
        <th>balance</th>
        <td>{{ account_info_model.balance }}</td>
      </tr>
      <tr>
        <th>margin_rate</th>
        <td>{{ account_info_model.margin_rate }}</td>
      </tr>
      <tr>
        <th>margin_used</th>
        <td>{{ account_info_model.margin_used }}</td>
      </tr>
      <tr>
        <th>margin_avail</th>
        <td>{{ account_info_model.margin_avail }}</td>
      </tr>
      <tr>
        <th>open_orders</th>
        <td>{{ account_info_model.open_orders }}</td>
      </tr>
      <tr>
        <th>open_trades</th>
        <td>{{ account_info_model.open_trades }}</td>
      </tr>
      <tr>
        <th>unrealized_pl</th>
        <td>{{ account_info_model.unrealized_pl }}</td>
      </tr>
      <tr>
        <th>realized_pl</th>
        <td>{{ account_info_model.realized_pl }}</td>
      </tr>
      <tr>
        <th>created</th>
        <td>{{ account_info_model.created | date:"c" }}</td>
      </tr>
      <tr>
        <th>updated</th>
        <td>{{ account_info_model.updated | date:"c" }}</td>
      </tr>


    </table>

    <h1>transaction list</h1>
    <table>
      <tr>
        <th>transaction name</th>
        <th>created</th>
        <th>presentation_time</th>
        <th>excute time</th>
      </tr>

      {% for transaction in transaction_list %}
      <tr>
          <td>{{transaction.transaction_name}}</td>
          <td>{{transaction.created | date:"c" }}</td>
          <td>{{transaction.presentation_time | date:"c"}}</td>
          <td>{{transaction.excute_time | date:"c"}}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Price Model</h1>
      {% if price_model != None %}
      <table>
          <tr>
              <th>ask</th>
              <td>{{ price_model.ask}}</td>
          </tr>
          <tr>
              <th>bid</th>
              <td>{{ price_model.bid}}</td>
          </tr>
          <tr>
              <th>time</th>
              <td>{{ price_model.time | date:"c"}}</td>
          </tr>
          <tr>
              <th>created</th>
              <td>{{ price_model.created | date:"c"}}</td>
          </tr>
      </table>
      {% else %}
      <h2>none</h2>
      {% endif %}

      <h1>Order Models (Actual Order Models)</h1>
      {% if order_model_sell != None or order_model_buy != None %}
      <table>
          <tr>
              <th></th>
              <th>sell</th>
              <th>buy</th>
          </tr>
          <tr>
              <th>actual order id</th>
              <td>{{ order_model_sell.actual_model.actual_order_id }}</td>
              <td>{{ order_model_buy.actual_model.actual_order_id }}</td>
          </tr>
          <tr>
              <th>instruments</th>
              <td>{{ order_model_sell.instruments }}</td>
              <td>{{ order_model_buy.instruments }}</td>
          </tr>
          <tr>
              <th>units</th>
              <td>{{ order_model_sell.units }} ( {{ order_model_sell.actual_model.units }} )</td>
              <td>{{ order_model_buy.units }} ( {{ order_model_buy.actual_model.units }} )</td>
          </tr>
          <tr>
              <th>side</th>
              <td>{{ order_model_sell.side }}</td>
              <td>{{ order_model_buy.side }}</td>
          </tr>
          <tr>
              <th>expiry</th>
              <td>{{ order_model_sell.expiry | date:"c" }}</td>
              <td>{{ order_model_buy.expiry | date:"c" }}</td>
          </tr>
          <tr>
              <th>price</th>
              <td>{{ order_model_sell.price }} ( {{ order_model_sell.actual_model.price }} )</td>
              <td>{{ order_model_buy.price }} ( {{ order_model_buy.actual_model.price }} )</td>
          </tr>
          <tr>
              <th>upperBound</th>
              <td>{{ order_model_sell.upperBound }} ( {{ order_model_sell.actual_model.upperBound }} )</td>
              <td>{{ order_model_buy.upperBound }} ( {{ order_model_buy.actual_model.upperBound }} )</td>
          </tr>
          <tr>
              <th>lowerBound</th>
              <td>{{ order_model_sell.lowerBound }} ( {{ order_model_sell.actual_model.lowerBound }} )</td>
              <td>{{ order_model_buy.lowerBound }} ( {{ order_model_buy.actual_model.lowerBound }} )</td>
          </tr>
          <tr>
              <th>stopLoss</th>
              <td>{{ order_model_sell.stopLoss }} ( {{ order_model_sell.actual_model.stopLoss }} )</td>
              <td>{{ order_model_buy.stopLoss }} ( {{ order_model_buy.actual_model.stopLoss }} )</td>
          </tr>
          <tr>
              <th>takeProfit</th>
              <td>{{ order_model_sell.takeProfit }} ( {{ order_model_sell.actual_model.takeProfit }} )</td>
              <td>{{ order_model_buy.takeProfit }} ( {{ order_model_buy.actual_model.takeProfit }} )</td>
          </tr>
          <tr>
              <th>status</th>
              <td>{{ order_model_sell.status }}</td>
              <td>{{ order_model_buy.status }}</td>
          </tr>
          <tr>
              <th>error_code</th>
              <td>{{ order_model_sell.actual_model.error_code }}</td>
              <td>{{ order_model_buy.actual_model.error_code }}</td>
          </tr>
          <tr>
              <th>type</th>
              <td>{{ type_sell }}</td>
              <td>{{ type_buy }}</td>
          </tr>
          <tr>
              <th>reason</th>
              <td>{{ reason_sell }}</td>
              <td>{{ reason_buy }}</td>
          </tr>
          <tr>
              <th>transaction</th>
              <td>{% if sell_latest_transaction != none %}
                  accountBalance:{{ sell_latest_transaction.accountBalance }}<br>
                  interest:{{ sell_latest_transaction.interest }}<br>
                  pl:{{ sell_latest_transaction.pl }}<br>
                  units:{{ sell_latest_transaction.units }}<br>
                  side:{{ sell_latest_transaction.side }}<br>
                  expiry:{{ sell_latest_transaction.expiry | date:"c" }}<br>
                  price:{{ sell_latest_transaction.price }}<br>
                  upperBound:{{ sell_latest_transaction.upperBound }}<br>
                  lowerBound:{{ sell_latest_transaction.lowerBound }}<br>
                  stopLoss:{{ sell_latest_transaction.stopLoss }}<br>
                  type:{{ sell_latest_transaction.type }}<br>
                  reason:{{ sell_latest_transaction.reason }}<br>
                  time:{{ sell_latest_transaction.time | date:"c" }}<br>
                  created:{{ sell_latest_transaction.created | date:"c" }}<br>
                  {% endif %}</td>
              <td>{% if buy_latest_transaction != none %}
                  accountBalance:{{ buy_latest_transaction.accountBalance }}<br>
                  interest:{{ buy_latest_transaction.interest }}<br>
                  pl:{{ buy_latest_transaction.pl }}<br>
                  units:{{ buy_latest_transaction.units }}<br>
                  side:{{ buy_latest_transaction.side }}<br>
                  expiry:{{ buy_latest_transaction.expiry | date:"c" }}<br>
                  price:{{ buy_latest_transaction.price }}<br>
                  upperBound:{{ buy_latest_transaction.upperBound }}<br>
                  lowerBound:{{ buy_latest_transaction.lowerBound }}<br>
                  stopLoss:{{ buy_latest_transaction.stopLoss }}<br>
                  type:{{ buy_latest_transaction.type }}<br>
                  reason:{{ buy_latest_transaction.reason }}<br>
                  time:{{ buy_latest_transaction.time | date:"c" }}<br>
                  created:{{ buy_latest_transaction.created | date:"c" }}<br>
                  {% endif %}</td>
          </tr>
          <tr>
              <th>time</th>
              <td>{{ order_model_sell.actual_model.time | date:"c" }}</td>
              <td>{{ order_model_buy.actual_model.time | date:"c" }}</td>
          </tr>
          <tr>
              <th>created</th>
              <td>{{ order_model_sell.created | date:"c" }} ( {{ order_model_sell.actual_model.created | date:"c" }} )</td>
              <td>{{ order_model_buy.created | date:"c" }} ( {{ order_model_buy.actual_model.created | date:"c" }} )</td>
          </tr>
          <tr>
              <th>updated</th>
              <td>{{ order_model_sell.updated | date:"c" }}</td>
              <td>{{ order_model_buy.updated | date:"c" }}</td>
          </tr>
      </table>
      {% else %}
      <h2>none</h2>
      {% endif %}

      <h1>Price List</h1>
      {% if price_list != None %}
      <table>
          <tr>
              <th>openBid</th>
              <th>closeBid</th>
              <th>highBid</th>
              <th>lowBid</th>
              <th>openAsk</th>
              <th>closeAsk</th>
              <th>highAsk</th>
              <th>lowAsk</th>
              <th>volume</th>
              <th>complete</th>
              <th>time</th>
          </tr>
          {% for price in price_list.candles %}
          <tr>
              <td>{{ price.openBid }}</td>
              <td>{{ price.closeBid }}</td>
              <td>{{ price.highBid }}</td>
              <td>{{ price.lowBid }}</td>
              <td>{{ price.openAsk }}</td>
              <td>{{ price.closeAsk }}</td>
              <td>{{ price.highAsk }}</td>
              <td>{{ price.lowAsk }}</td>
              <td>{{ price.volume }}</td>
              <td>{{ price.complete }}</td>
              <td>{{ price.time | date:"c" }}</td>
          </tr>
          {% endfor %}
      </table>
      {% else %}
      <h2>none</h2>
      {% endif %}

  </div>
{% endblock %}
